services:
  mysql:
    image: mariadb:11.8.5 # latest lts
    volumes:
      - mysql_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"    
    restart: no
    environment:
      MYSQL_DATABASE: mysql
      MYSQL_ROOT_PASSWORD: localhost
      MYSQL_USER: admin
      MYSQL_PASSWORD: localhost
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  # no database connections, does have sso & dashboards.
  # grist:
  #   image: gristlabs/grist:latest
  #   container_name: grist
  #   ports:
  #     - "8484:8484" 
  #   volumes:
  #     - grist_data:/persist
  #   environment:
  #     GRIST_SESSION_SECRET: invent-a-secret-here
  #     GRIST_DEFAULT_EMAIL: email@example.com

  # no database connections, does have dashboards.
  # baserow:
  #   image: baserow/baserow:2.0.6
  #   container_name: baserow
  #   environment:
  #     - BASEROW_PUBLIC_URL=http://localhost
  #   volumes:
  #     - baserow_data:/baserow/data
  #   ports:
  #     - "80:80"
  #   restart: no

  # Has database connections, doesn't have (free) sso & dashboards.
  # https://nocodb.com/docs/self-hosting/environment-variables
  nocodb:
    depends_on:
      mysql:
        condition: service_healthy
    image: nocodb/nocodb:latest
    ports:
      - "8080:8080"
    restart: no
    volumes:
      - nocodb_data:/usr/app/data
    environment:
      NC_DB: "mysql2://mysql:3306?u=admin&p=localhost&d=nocodb"
      NC_DISABLE_TELE: "true"
      NC_ADMIN_EMAIL: "admin@localhost.com"
      NC_ADMIN_PASSWORD: "localhost"
      NC_INVITE_ONLY_SIGNUP: "true"
      NC_DISABLE_SUPPORT_CHAT: "true"
      #NOCODB_ENABLE_SSO: "true"
 
volumes:
  mysql_data:
  nocodb_data: 
  baserow_data:
  grist_data: