services:
  mysql:
    image: mariadb:11.8.5 # latest lts
    volumes:
      - mysql_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"    
    restart: no
    environment:
      MYSQL_DATABASE: nocodb
      MYSQL_ROOT_PASSWORD: localhost
      MYSQL_USER: app_nocodb
      MYSQL_PASSWORD: localhost
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  nocodb:
    depends_on:
      mysql:
        condition: service_healthy
    image: nocodb/nocodb:latest
    ports:
      - "8080:8080"
    restart: no
    volumes:
      - nocodb_data:/usr/app/data
    environment:
      NC_DB: "mysql2://mysql:3306?u=app_nocodb&p=localhost&d=nocodb"
      #NOCODB_ENABLE_SSO: "true"
volumes:
  mysql_data: {}
  nocodb_data: {}